# ????
**/build/
**/.gradle/
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/

# ?????????????
tools/
SkidProjects/

# ???????
client0702/verification/

# ??????
redefiner/x64/
redefiner/redefiner/x64/
*.user

# ??
*.log
hs_err_pid*
